@model HomeGetDetailsViewModel
@{
    var photoPath = "~/Uploads/" + (Model.newEmployee.photopath ?? "img1.png");
   }

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title> Employe details </title>
    </head>
    <body>

        <div class="card">
            <div class="card-header text-success">@Model.PageTitle</div>
            <div class="card-body">
                <img src="@photoPath" alt="Alternate Text" asp-append-version="true" width="120" height="120"/>

            </div>
            <div class="card-footer">
                <p>Name: @Model.newEmployee.Name</p>
                <p>Department: @Model.newEmployee.Department</p>
                <p>Gender: @Model.newEmployee.Gender</p>
                <p>Phone: @Model.newEmployee.Phone</p>
                <p>Email: @Model.newEmployee.Email</p>
                <p>State: @Model.newEmployee.statelist</p>


            </div>
            <div> <a asp-action="index" asp-controller="Home" class="btn btn-sm btn-info"><< Back to the List</a></div>
           

        </div>


    </body>
    </html>
